{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% from 'pagination.html' import render_pagination %}

{% block content %}
<h1>Drink with your eyes</h1>
<p>10 Cocktails will be displayed and the options will be refreshed every 30 seconds</p>

<html>
  <head>
    <title>Countdown Timer</title>
    <script>
      var count = 30;
      var countdown = setInterval(function() {
        count--;
        document.getElementById("countdown").innerHTML = count;
        if (count == 0) {
          clearInterval(countdown);
          var currentPage = {{ pagination.page }};
          var randNum =  Math.floor(Math.random() * 10) + 1;
          console.log(currentPage);
          var nextPage = currentPage + 1;
          window.location.href = "{{ url_for('drinkwithyoureyes.your_view_function', page=randNum) }}";
        }
      }, 1000);
    </script>
    
    <p>You will be redirected to the next page in <span id="countdown">30</span> seconds.</p>
    
    {{ pagination.links }}
    
</html>



{% if data %}
    <div class="row" id="card-container">
        {% for d in data %}
        <div class="col-sm-4">
            <div class="card" data-drink-id="{{ d.idDrink }}">
                <img class="card-img-top" id="{{ d.strDrinkThumb }}"src="{{ d.strDrinkThumb }}" alt="{{ d.strDrink }}">
                <div class="card-body">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#modal-{{ d.idDrink }}">Details</button>
                 
                    {% if not d.userLikes and  session.sessionID %}
                    <button type="button" class="btn btn-secondary like-button"
                    onclick="likeDrink('{{ d.idDrink }}', this,false)" data-is-liked="false">like</button>
                    {% endif %}
                 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div id="wrapper" style="display: none;">
  <div id="pagination" class="d-flex justify-content-center">
    {{ render_pagination(pagination, 'drinkwithyoureyes.your_view_function', pagination.page) }}
  </div>
</div>

{% for d in data %}
<div class="modal fade" id="modal-{{ d.idDrink }}" tabindex="-1" aria-labelledby="modal-{{ d.idDrink }}-label"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-{{ d.idDrink }}-label">{{ d.strDrink }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="img-fluid rounded" src="{{ d.strDrinkThumb }}" alt="{{ d.strDrink }}">
                        <h6>Instructions:</h6>
                        <p>{{ d.strInstructions }}</p>
                        <h6>Measurements:</h6>
                        <ul>
                            {% for i in range(1, 16) %}
                            {% if d['strIngredient'+i|string] %}
                            <li>{{ d['strIngredient'+i|string] }} - {{ d['strMeasure'+i|string] }}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ render_field(like.like, id='hidden-input-' + d.idDrink|string, value=d, hidden=True) }}
                
                        {% if not d.userLikes and  session.sessionID %}
                        <button type="button" class="btn btn-secondary like-button"
                        onclick="likeDrink('{{ d.idDrink }}', this,false)" data-is-liked="false">like</button>
                        {% endif %}
                     
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
{% endfor %}

{% endif %}
{{ bootstrap.load_js() }}

{% endblock %}




