{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block content %}
<h1>Events Search</h1>
{{ render_form(form) }}
{% if data %}
<div class="container">
    <div class="row" id="card-container">
        {% for d in data %}
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="{{ d.image }}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ d.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ d.description }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ start_dates[loop.index0] }}</h6>
                    <a href="{{d.link}}"class="card-link">Event Link</a>
                    {% if session.sessionID %}
                    <button type="button" class="btn btn-secondary like-button"
                        onclick="saveEvent('{{ d.name }}', this)">Save</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ render_field(like.like, id='hidden-event-' + d.name|string, value=d, hidden=True) }}
        {{ render_field(like.like, id='hidden-date-' + d.name|string, value=start_dates[loop.index0], hidden=True) }}
        </div>
        {% endfor %}
    </div>
</div>


{% else %}
<div class="col-sm-12">
    <p>No results</p>
</div>
{% endif %}


{% endblock %}
