{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block content %}
<h1>Events Search</h1>
{{ render_form(form) }}
{% if data %}
<div class="container">
    <div class="row" id="card-container">
        {% for d in data %}
        <div class="col-lg-3 col-md-6">
            <div class="card mb-4" data-event-id="{{ d.title }}">
                <img class="card-img-top h-100 object-fit-cover" src="{{ d.image }}" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ d.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ d.description }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ start_dates[loop.index0] }}</h6>
                    <a href="{{d.link}}"class="card-link mt-auto">Event Link</a>
                    {% if session.sessionID %}
                    <button type="button" class="btn btn-secondary like-button mt-2"
                        onclick="saveEvent('{{ d.title }}', this)">Save</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if loop.index is divisibleby 4 %}
        </div>
        <div class="row">
        {% endif %}
        {{ render_field(like.like, id='hidden-event-' + d.title|string, value=d, hidden=True) }}
        {{ render_field(like.like, id='hidden-date-' + d.title|string, value=start_dates[loop.index0], hidden=True) }}
        {% endfor %}
    </div>
</div>

{% else %}
<div class="col-sm-12">
    <p>No results</p>
</div>
{% endif %}

{% endblock %}