{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block content %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    min-height: 300px;
    }
.row:after {
    content: "";
    display: table;
    clear: both;
    }

h2 {text-align: center;}
</style>
</head>
<body>
    
<h1>My Liquor Cabinet</h1>
<h2>My Ingredients</h2>

    <div class="row">
        <div class="column" style="background-color:lightgray;">
            <h3>Ingredient</h3>
        </div>
        <div class="column" style="background-color:lightgray;">
            <h3>Amount</h3>
        </div>
    </div>

</body>
 </html>   
{% endblock %}